.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eef3f8;
}

.hero-left {
    width: 50%;
    padding-left: 70px;
}

.hero-left h1 {
    font-size: 80px;
    color: #222;
    font-weight: 800;
}

.hero-left span {
    color: #ff4500;
    font-weight: 700;
}

.hero-right {
    width: 50%;
    height: 100%;
}

.hero-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact {
    padding: 10% 10%;
}

.title {
    font-size: 42px;
    margin-bottom: 40px;
}

.title span {
    color: #ff4500;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 80px;
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.form-box textarea {
    height: 160px;
}

.send-btn {
    padding: 15px 40px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-block {
    padding: 30px 20px;
}

.info-block h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.info-block p {
    color: #555;
    line-height: 1.6;
    font-size: 15 px;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.socials a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 30px;
    color: #666;
    cursor: pointer;
}