* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
}

.container {
    width: 100%;
    max-width: 450px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    color: #222;
    margin-bottom: 40px;
}

form input {
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 18px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover {
    opacity: 0.9;
}

.text {
    margin-top: 25px;
    color: #666;
    font-size: 17px;
}

.text a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
