.company-section {
    display: flex;
    width: 100%;
    background: #e9f1f7;
    margin-top: 0;
    height: 70vh;
}

.company-left {
    width: 50%;
    padding: 130px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-left h1 {
    font-size: 70px;
    font-weight: 900;
    color: #ff4500;
}

.company-left h2 {
    font-size: 70px;
    font-weight: 900;
    color: #222;
}

.company-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-section {
    background: #d6d6d6;
    padding: 80px 0;
    text-align: center;
    height: 70vh;
}

.team-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 80px;
}

.team-title span {
    color: #ff4500;
}

.team-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.member-box {
    background: #fff;
    padding: 30px;
    flex: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-info {
    display: flex;
    align-items: center;
    gap: 18px;
}

.member-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.member-info p,
h3 {
    font-size: 20px;
}

.add-btn {
    width: 40px;
    height: 40px;
    background: #e6e6e6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #444;
}

.test-section {
    background: #fff;
    padding: 80px 0;
    text-align: center;
}

.test-title {
    font-size: 60px;
    font-weight: 1000;
    margin-bottom: 30px;
}

.test-title span {
    color: #ff4500;
}

.quote-icon {
    margin-left: 20%;
    text-align: start;
    font-size: 60px;
    color: #ff4500;
    margin-top: 30px;
}

.test-text {
    font-size: 30px;
    width: 60%;
    margin: 20px auto;
    color: #888;
    line-height: 1.6;
}

.test-person {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.test-person img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.line {
    margin: 50px auto 0;
    width: 40%;
    border-bottom: 1px solid #ccc;
}